.results-list {
  margin: 0 auto;
}

.result {
  border: 1px solid black;
  margin-top: 10px;
}

.results-list img {
  float: left;
}

.results-list p,
.results-list li {
  text-align: center;
  margin-left: 33%;
}

.creator-info {
  line-height: .1;
  font-style: italic;
}

.learn-more,
.amazon {
  text-align: center;
  display: block;
  margin: 0 auto;
}

.loading {
  border: none;
  background-color: #518cca;
}

.loading h5 {
  padding-top: 15px;
}

.no-results h5,
.no-values h5 {
  padding-top: 20px;
  color: white;
}

.no-results,
.no-values {
  border: none;
  background-color: #e23636;
}
