/* add custom styles */
h1, h2, h3, h4, h5, h6 {
  text-align: center;
  color: #504a4a;
}

header {
  background-image: url("../assets/images/MarvelHeader.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 100%;
  height: 360px;
  margin: 0 auto;
}

body {
  background-color: white;
}

.button {
  background-color: #518cca;
  color: white;
}

.addCharacter {
  margin-left: 25px;
}

.addDateRange {
  margin-left: 33%;
}

.removeDateRange {
  margin-left: 38%;
}

.custom-date {
  position: relative;
  left: 25%;
}

input[type="radio"] {
  margin-left: 10%;
}

.date-inputs {
  margin-left: 38%;
  margin-top: 0;
}

input[type="date"]:last-of-type {
  margin-left: 7%;
}

input[type="date"] {
  margin-left: 5%;
}
